/* #region RESET */

body,
h1,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* #endregion */

/* #region NORMALIZE*/

html {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
/* #endregion */

/* #region NAV */

.nav {
  position: fixed;
  top: 10px;
  right: 50%;
  left: 50%;
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.nav__icon {
  padding: 7px;

  width: 50px;
  height: 50px;

  border: 2px solid transparent;
  border-radius: 50%;

  background-color: white;

  transition: all 400ms;
}

.nav__icon:hover {
  border: 2px solid black;

  transform: scale(1.2);
}

/* #endregion  */

/* #region TITLE */
.title {
  margin-top: 70px;

  text-align: center;

  font-weight: normal;
}
/* #endregion */

/* #region EXERCISE--15 */

.block {
  margin: 0 auto;
  padding: 10px;

  position: relative;

  width: 400px;

  border: 1px solid green;
}

.elem-1 {
  width: 30px;
  height: 30px;

  position: fixed;
  top: 10px;
  left: 150px;

  border: 1px solid red;
}

.elem-2 {
  width: 30px;
  height: 30px;

  position: fixed;
  top: 10px;
  right: 150px;

  border: 1px solid red;
}

/* #endregion */

/* #region EXERCISE--16 */

.block-1 {
  margin: 0 auto;
  padding: 10px;

  position: relative;
  top: 70px;

  z-index: -1;

  width: 400px;

  border: 1px solid coral;
}

.elem-3 {
  width: 30px;
  height: 30px;

  position: fixed;
  top: 10px;
  left: 100px;

  border: 1px solid red;
}

.elem-4 {
  width: 30px;
  height: 30px;

  position: fixed;
  top: 10px;
  right: 100px;

  border: 1px solid red;
}

/* #endregion */
